body{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    margin: 0px;
}

.logo{
    font-size: 24px;
}

.subheader {
    list-style: none;
    display: flex;
    margin: 0px;
}

.hli {
    padding: 0 8px;
}

.upper {
    display: flex;
    justify-content: center;
    padding: 75px;
}

.uppertext {
    display: flex;
    flex-direction: column;
}

.topbutton{
flex: 0 1 auto;
width: 75px;
}

img{
    height: auto;
    width: 300px;
    display: inline-block;
    padding: 0 16px;
}

.header, .upper, .footer {
    background-color: #1F2937;
    color: #e5e7eb;
}

.header .logo, .upper .upperhero{
    color: #F9FAF8;
}

.middle{
    padding: 75px;
    padding-top: 40px;
}

.middletitle{
    text-align: center;
}

.middlecontent{
    display: flex;
    justify-content: center;
}

.txtimg img {
    height: auto;
    width: 200px;
}

.txtimg{
    display: flex;
    flex-direction: column;
}

.quote {
    display: flex;
    justify-content: center;
}

.author {
    display: flex;
    justify-content: flex-end
}

.quotesec {
    background-color: #e5e7eb;
    padding: 75px;
}

.lower {
    display: flex;
    justify-content: center;
    padding: 75px;
}

.bottombutton {
    flex: 0 1 auto;
    height: 25px;
    width: 75px;
}

.footer{
    display: flex;
    justify-content: center;
    padding: 30px;
}