body{
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    margin: 0px;
}

.subheader {
    list-style: none;
    display: flex;
    margin: 0px;
}

.hli {
    padding: 0 8px;
}

.upper {
    display: flex;
    justify-content: center;
}

.uppertext {
    display: flex;
    flex-direction: column;
}

.topbutton{
flex: 0 1 auto;
width: 75px;
}

img{
    height: auto;
    width: 300px;
    display: inline-block;
    padding: 0 16px;
}

.middletitle{
    text-align: center;
}

.middlecontent{
    display: flex;
    justify-content: center;
}

.txtimg img {
    height: auto;
    width: 200px;
}

.txtimg{
    display: flex;
    flex-direction: column;
}