body{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin: 0px;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    margin: 0px;
}

.logo{
    font-size: 24px;
}

.subheader {
    list-style: none;
    display: flex;
    margin: 0px;
}

.hli {
    padding: 0 8px;
}

.upper {
    display: flex;
    justify-content: center;
    padding: 75px;
}

.uppertext {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 350px;
    padding-right: 200px;
}

.upperhero {
    font-size: 48px;
    font-weight: 800;
}

.topbutton{
flex: 0 1 auto;
width: 75px;
height: 25px;
color: white;
background-color: #3882F6;
border: 0;
border-radius: 6px;
}

img{
    height: auto;
    width: 300px;
    display: inline-block;
    padding: 0 16px;
}

.header, .upper, .footer {
    background-color: #1F2937;
    color: #e5e7eb;
}

.header .logo, .upper .upperhero{
    color: #F9FAF8;
}

.middle{
    padding: 75px;
    padding-top: 40px;
}

.middletitle{
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 800;
    padding-bottom: 40px;
}

.middlecontent{
    display: flex;
    justify-content: center;
}

.txtimg img {
    height: 150px;
    width: 200px;
    border: 4px solid #3882F6;
    border-radius: 8px;
    padding: 0px;
    margin-bottom: 8px;
}

.txtimg{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    flex-wrap: wrap;
    padding: 0 18px;
}

.quoteback{
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}

.quotesec {
    padding: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 750px;
}

.quote {
    display: flex;
    flex-wrap: wrap;
    max-width: 750px;
    font-size: 36px;
    color: #1F2937;
    padding-bottom: 16px;
}

.author {
    display: flex;
    align-self: flex-end;
    font-weight: bold;
}

.lowerback{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.lower {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 75px;
    background-color: #3882F6;
    width: 600px;
    height: 0px;
    border: 0 solid;
    border-radius: 8px;
}

.lowerhero{
    font-weight: bold;
    font-size: 18px;
}

.lowertext {
    color: white;
    line-height: 4px;
}

.bottombutton {
    flex: 0 1 auto;
    height: 25px;
    width: 75px;
    color: white;
    background-color: #3882F6;
    border: 1px solid white;
    border-radius: 6px;
}

.footer{
    display: flex;
    justify-content: center;
    padding: 30px;
}